In [5]:
library(tidyverse)
library(repr)
library(tidymodels)
library(ISLR)

In [6]:
url_players <- "https://drive.google.com/uc?export=download&id=1Mw9vW0hjTJwRWx0bDXiSpYsO3gKogaPz"

players_ <- read_csv(url_players)
head(players)

Rows: 196 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, age
lgl (3): subscribe, individualId, organizationName

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
6 Amateur     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
6 f58aad5996a435f16b0284a3b267f973f9af99e7a89bee0430055a44fa92f977  0.0
  name      gender age individualId organizationName
1 Morgan    Male    9  NA           NA
2 Christian Male   17  NA           NA
3 Blake     Male   17  NA           NA
4 Flora     Female 21  NA           NA
5 Kylie     Male   21  NA           NA
6 Adrian    Female 17  NA           NA

In [11]:
players <- players|> 
          select(experience, age, played_hours)|> 
          as_tibble()
head(players)

  experience age played_hours
1 Pro         9  30.3
2 Veteran    17   3.8
3 Veteran    17   0.0
4 Amateur    21   0.7
5 Regular    21   0.1
6 Amateur    17   0.0

In [20]:
# to make the exprience into ordinal data 
players_numerical <- players|>
                     mutate(experience_num = case_when(experience == "Veteran" ~ 5,
                                                       experience == "Pro" ~ 4,
                                                       experience == "Regular" ~ 3,
                                                       experience == "Amateur" ~ 2,
                                                       experience == "Beginner" ~ 1))
head(players_numerical)

  experience age played_hours experience_num
1 Pro         9  30.3         4
2 Veteran    17   3.8         5
3 Veteran    17   0.0         5
4 Amateur    21   0.7         2
5 Regular    21   0.1         3
6 Amateur    17   0.0         2

In [12]:
#spilting 
players_split <- initial_split(players_numerical, prop = 0.75, strata = played_hours)
players_training <- training(players_split)
players_testing <- testing(players_split)

In [13]:
# to make the exprience into ordinal data 


mutate(experience_num = case_when(experience == "Pro" ~ 5,
                                  experience == "Amateur" ~ 1

ERROR: Error in parse(text = x, srcfile = src): <text>:2:0: unexpected end of input
1: mutate(experience_num = case_when(experience == "Pro" ~ 5,
   ^

In [14]:
gender_female = case_when(gender == "Male" ~ 0,
gender == "Female" ~ 1,
...),
...)

ERROR: Error in parse(text = x, srcfile = src): <text>:3:5: unexpected ','
2: gender == "Female" ~ 1,
3: ...),
       ^